<tr data-hour="{{hour}}">
    <td id="label-{{hour}}">{{hour}}</td>
    <td data-day="0" data-hour="{{hour}}" id="0-{{hour}}" class="hour_cell"></td>
    <td data-day="1" data-hour="{{hour}}" id="1-{{hour}}" class="hour_cell"></td>
    <td data-day="2" data-hour="{{hour}}" id="2-{{hour}}" class="hour_cell"></td>
    <td data-day="3" data-hour="{{hour}}" id="3-{{hour}}" class="hour_cell"></td>
    <td data-day="4" data-hour="{{hour}}" id="4-{{hour}}" class="hour_cell"></td>
    <td data-day="5" data-hour="{{hour}}" id="5-{{hour}}" class="hour_cell"></td>
    <td data-day="6" data-hour="{{hour}}" id="6-{{hour}}" class="hour_cell"></td>
</tr>