<tr data-hour="{{hour}}">
    <td>{{hour}}</td>
    <td data-day="0" id="0-{{hour}}"></td>
    <td data-day="1" id="1-{{hour}}"></td>
    <td data-day="2" id="2-{{hour}}"></td>
    <td data-day="3" id="3-{{hour}}"></td>
    <td data-day="4" id="4-{{hour}}"></td>
    <td data-day="5" id="5-{{hour}}"></td>
    <td data-day="6" id="6-{{hour}}"></td>
</tr>